<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://http-trigger20230123183446.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1544b3a6-97a6-4c78-8723-e4cb23599de0/resourceGroups/RG-For_Academics/providers/Microsoft.Web/sites/Http-Trigger20230123183446</ResourceId>
    <UserName>$Http-Trigger20230123183446</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://http-trigger20230123183446.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>